In [2]:
import pandas as pd
df=pd.read_csv(r"D:\Scikit\dataset\spam_ham_dataset.csv")
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [3]:
df.isnull().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [4]:
x=df['text']
y=df['label_num']

In [6]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

vec = CountVectorizer()
X = vec.fit_transform(x)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = MultinomialNB()
model.fit(X_train, y_train)

# Prediction
pred = model.predict(X_test)

print("Multinomial NB Accuracy:", accuracy_score(y_test, pred))

Multinomial NB Accuracy: 0.976159793814433

In [7]:
from sklearn.datasets import load_iris
from sklearn.naive_bayes import GaussianNB

# Load dataset
X, y = load_iris(return_X_y=True)

# Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Gaussian NB
model = GaussianNB()
model.fit(X_train, y_train)

# Predict
pred = model.predict(X_test)

print("Gaussian NB Accuracy:", accuracy_score(y_test, pred))

Gaussian NB Accuracy: 0.9777777777777777